@{
    ViewBag.Title = "Korisnici";
    List<String> korisnici = new List<String>();
    korisnici.Add("damjan.jpg");
    korisnici.Add("damjang86");
    korisnici.Add("Damja");
    korisnici.Add("Gicic");

    korisnici.Add("paja.jpg");
    korisnici.Add("paja92");
    korisnici.Add("Pavle");
    korisnici.Add("Djordjevic");

    korisnici.Add("davitko.jpg");
    korisnici.Add("davitkoMuzjak");
    korisnici.Add("Milos");
    korisnici.Add("Davitkovic");

    korisnici.Add("damjan.jpg");
    korisnici.Add("damjang86");
    korisnici.Add("Damja");
    korisnici.Add("Gicic");

    korisnici.Add("paja.jpg");
    korisnici.Add("paja92");
    korisnici.Add("Pavle");
    korisnici.Add("Djordjevic");

    korisnici.Add("davitko.jpg");
    korisnici.Add("davitkoMuzjak");
    korisnici.Add("Milos");
    korisnici.Add("Davitkovic");

    korisnici.Add("damjan.jpg");
    korisnici.Add("damjang86");
    korisnici.Add("Damja");
    korisnici.Add("Gicic");

    korisnici.Add("paja.jpg");
    korisnici.Add("paja92");
    korisnici.Add("Pavle");
    korisnici.Add("Djordjevic");

    korisnici.Add("davitko.jpg");
    korisnici.Add("davitkoMuzjak");
    korisnici.Add("Milos");
    korisnici.Add("Davitkovic");
}
<style>
    #KORISNICI_DIV img{
        width: 128px;
        height: 100px;
    }
     #KORISNICI_MODAL img{
        width: 128px;
        height: 100px;
    }
    #KORISNICI_DIV label{
        display: inline;
    }
    #KORISNICI_DIV h5{
        display: inline;
        color: white;
    }
    .modal-body input
    {
        width: 150%;
    }
</style>

<h2>Korisnici</h2>
<br><br><br>
<div id="KORISNICI_DIV">
    @for (int i = 0, ine = korisnici.Count - 12; i < ine; i+=12 )
    {
        <div class="row">
            @for(int j=0; j<12; j+=4)
            {
                <div class="col-md-4">
                    <img src="/Content/userImgs/@korisnici.ElementAt(i+j+0)">
                    <br>
                    <label>Korisničko ime:</label>
                    <h5 class="brn btn-link" data-toggle="modal" data-target="#KORISNICI_MODAL" onclick="DetaljiKorisnika('@korisnici.ElementAt(i+j+1)')">@korisnici.ElementAt(i + j + 1)</h5>
                    <br>
                    <label>Puno ime:</label>
                    <h5>@korisnici.ElementAt(i + j + 2) @korisnici.ElementAt(i + j + 3)</h5>
                </div>
            }
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="KORISNICI_MODAL" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Korisnik: </h4>
            </div>
            <div class="modal-body">
                <form id="KORISNICI_FORM" name="KORISNICI_FORM" action="@Url.Action("SaveUserData", "Users")" method="post" enctype="multipart/form-data" target="KORISNICI_IFRAME">
                    <iframe id="KORISNICI_IFRAME" name="KORISNICI_IFRAME" hidden></iframe>
                    <div class="row">
                        <div class="col-md-4">
                            <img id="SLIKA_IMG" src="~/Content/userImgs/damjan.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <label style="margin-top:10px">Ime:</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="IME" name="ime" placeholder="Vase ime" autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <label style="margin-top:10px">Prezime:</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="PREZIME" name="prezime" placeholder="Vase prezime" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <label style="margin-top:10px">Korisničko ime:</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="KORISNICKO" name="korisnickoIme" placeholder="Vase korisnicko ime" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <label style="margin-top:10px">Šifra</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="SIFRA" type="password" name="sifra" placeholder="Vasa šifra"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <label style="margin-top:10px">Ponovite šifru</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="PONOVLJENA_SIFRA" type="password" name="ponovljenaSifra" placeholder="Ponovo unesite šifru" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <label style="margin-top:10px">Vaša slika</label>
                                </div>
                                <div class="col-md-6">
                                    <input id="SLIKA_INPUT" name="slika" type="file" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">

                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </form>            
            </div>
            <div class="modal-footer">
                <button id="nazadModalBtn" type="button" class="btn btn-default" data-dismiss="modal" style="float:left">Nazad</button>
                @if (true)
                {
                    <button id="doneButton" type="button" class="btn btn-primary" onclick="UnesiKorisnika()" style="float:right">Unesi</button>
                }
                else
                {
                    <button id="doneButton" style="display:none"></button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(function () {
        $('#KORISNICI_DIV img').click(DetaljiKorisnika());
    });

    function DetaljiKorisnika(userName) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetUserData", "Users")',
                data: { userName: userName },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data[0] == "done") {
                        $('SLIKA_IMG').val();
                        $('IME').val();
                        $('KORISNICKO').val();
                    }
                    else {
                        alert(data);
                    }
                }
            });
        }

        function UnesiKorisnika()
        {
            if (!confirm("Zelite da unesete trenutne podatke?"))
            {
                return;
            }
            if ($('SIFRA').val() != $('PONOVLJENA_SIFRA').val())
            {
                alert("Šifre se ne podudaraju!");
                return;
            }

            var callback = function () {
                var infoText = $('#KORISNICI_IFRAME').contents().find('body').text();
                infoText = JSON.parse(infoText);
                if (infoText == 'done') {
                    //on success                  
                }
                else {
                    //on error
                    alert("Greska");
                }
                $('#KORISNICI_IFRAME').unbind('load', callback);
            };

            $('#KORISNICI_IFRAME').bind('load', callback);
            $('#KORISNICI_FORM').submit();
        }

    </script>
}
